
  .wrapper {
    width: auto;
    height: 100vh;
    
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://gdurl.com/gJJK");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: opacity(80%);
  }

  .header {
    text-align: center;
  }
  .header h1 {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: white;
    padding: 20% 2px 8px;
  }
  .header p {
    font-family: "Raleway", sans-serif;
    font-size: 5rem;
    font-weight: 600;
    
    color: white;
    
  }
  
  .btn 
      {
        font-size: 1rem;
    letter-spacing: 0.15rem;
    color: black;
    background-color: #fff200;
    padding: 20px 30px;
    
    border: none;
    cursor: pointer;

      }